node_modules
dist
dist-ssr
.venv

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
.circularDependency.json
.turbo
apps/docs/.vitepress/cache
__pycache__
.env


/packages/note/.apkg/*
/packages/note/.kanjivg/*
/packages/note/.anki-build/*

.lazy.lua
.TODO.md
AGENTS.md
